.box {
    font-family: "JetBrains Mono SemiBold", sans-serif;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;

}

.main-button:hover {
    background: #088888;
}

.main-button {
    background: transparent;
    border: none;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}


.box img {
    width: 100%; /* This will make the image take up 100% of the box's width */
    height: auto; /* This will maintain the aspect ratio of the image */
}

body {
    background: url('../assets/fon.webp') no-repeat center center fixed;
    padding-bottom: 400px;
}


.box2 {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    color: #fff;
    font-family: "JetBrains Mono SemiBold", sans-serif;
    text-align: center;
}


.box3 {
    max-width: 1500px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    color: #fff;
    font-family: "JetBrains Mono SemiBold", sans-serif;
    text-align: center;
}
